.min-h-100{
    min-height: 100vh;
}

.mb-50 {
    margin-bottom: 50px !important;
}

.d-flex{
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-content-between{
    justify-content: space-between;
}

.text-center {
    text-align: center;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.logo {
    position: fixed;
    top: 15px;
    left: 20px;
    z-index: 10000;
}

.logo img {
    width: 40px;
}

.header__title {
    font-size: 2rem;
    text-align: center;
    animation: header_title 2s infinite;
}

@keyframes header_title {
    5% {
        color: rgba(239, 233, 233, 0.6);
    }
    10% {
        color: rgba(252, 248, 248, 0.737);
    }
    15% {
        color: rgba(188, 181, 181, 0.6);
    }
    20% {
        color: rgba(252, 248, 248, 0.737);
    }
    100% {
        color: rgba(21, 20, 20, 0.6);
    }
}

.lang__info {
    padding: 10px;
    transition: .3s;
}

.lang__info:hover {
    background: #f9f1f1;
}

.lang__icon {
    width: 50px;
    border-radius: 100%;
}

.lang__statictic {
    background: transparent;
}