/* neucha-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Neucha';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/neucha-v17-latin-regular.woff2') format('woff2');
}

body {
    font-family: 'Neucha';
    font-style: normal;
    background-image: url("./images/bg.jpg");
    background-attachment: fixed;
    background-position: center;
    /* color: blue; */
}

p {
    margin-bottom: 5px;
    line-height: 130%;
}

.m-auto {
    margin: 0 auto;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-5 {
    margin-bottom: 10px;
}

.mw-1350 {
    max-width: 1350px;
}

.w-100 {
    width: 100%;
}

.d-flex {
    display: flex;
}

.gap-10 {
    gap: 10px;
}

.p-10 {
    padding: 10px;
}

.text-center {
    text-align: center;
}

.font-20 {
    font-size: 20px;
}

.font-bold {
    font-weight: 900;
}

.border-solid-1 {
    border: 1px solid gray;
}

.game {
    width: 500px;
    height: 300px;
    border-radius: 5px;
    background-image: url("./images/image-example.JPG");
    background-size: cover;
    background-position: center;
}

.run {
    background: green;
    color: wheat;
    border-radius: 5px;
}

.link {
    padding: 10px 15px;
    background: rgb(101, 61, 220);
    color: antiquewhite;
    border-radius: 5px;
    display: block;
    text-decoration: none;
}